/*Font family	*/
body{
	font-size: 10 px;
}

h1{
	font-size: 5.0em;
	text-align: center;
	text-decoration: line-through;
}

p{
	font-family: 'Zhi Mang Xing', cursive;
	font-size: 2.0em;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	text-decoration: underline;
	border: 2px solid blue;
	width: 50%;
	padding: 10px;
	margin: 0 auto;
	//margin: 0 auto 0 auto;
	//margin-left: 100px;
	//margin-bottom: 50px;
	//margin: 10px 40px 500px 100px;
}

span{
	font-size: 2.0em;
}
